//COLORS
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;

$dark-grey-color: #777;
$dark-grey-color-2: #999;

$light-grey-color: #eee;
$light-grey-color1: #f7f7f7;

$white-color: #fff;
$black-color: #000;

//shadows
$shadow1: 0 1.5rem 4rem rgba($black-color, .15);

//Font
$default-font-size: 1.6rem;

//GRID
$vertical-gutter: 8rem;
$grid-width: 114rem;
$horizontal-gutter: 6rem;