.btn{
    &:link,
    &:visited{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
    }

    &--animation{
        animation: moveInBottom .5s ease-out .7s;
        animation-fill-mode: backwards;
    }

    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($black-color,.2);

        &::after{
            transform: scaleX(1.5) scaleY(1.7);
            opacity: 0;
        }
    }

    &:active{
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($black-color,.2);
    }

    &--white{
        background-color: $white-color;
        color: $dark-grey-color;

        &::after{
            background-color: $white-color;
        }
    }

    &--green{
        background-color: $primary-color;
        color: $white-color;

        &::after{
            background-color: $primary-color;
        }
    }

    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
}

.btn-text{
    &:link,
    &:visited{
        text-decoration: none;
        font-size: $default-font-size;
        color: $primary-color;
        display: inline-block;
        border-bottom: .1rem solid rgba($primary-color,.2);
        padding: .3rem;
        transition: all .2s;
    }

    &:hover{
        color: $white-color;
        background-color: $primary-color;
        box-shadow: 0 1rem 2rem rgba($black-color,.2);
        transform: translateY(-.2rem);
    }

    &:active{
        transform: translateY(0);
        box-shadow: 0 .5rem 1rem rgba($black-color,.2);
    }
}