.feature-box{
    background-color: rgba($white-color, .8);
    padding: 2.5rem;
    font-size: 1.5rem;
    border-radius: .3rem;
    box-shadow: $shadow1;
    text-align: center;
    transition: transform .2s;

    &__icon{
        font-size: 6.5rem;
        margin-bottom: .3rem;
        display: inline-block;
        background-image: linear-gradient(to right, $primary-color-light, $primary-color-dark);
        color: transparent;
        -webkit-background-clip: text;
    }

    &:hover{
        transform: scale(1.05) translateY(-1.3rem);
    }
}